.body {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    margin: 0 0 20px 0;
    width: 18rem;
}
.card:hover {
    background-color: #eee;
}
.card:hover .card-title {
    color: #51595f;
}
.video-name {
    color: #303030;
    text-decoration: none;
    transition: 0.2s ease 0s;
}
.video-name:hover {
    color: slategray;
    transition: 0.2s ease 0s;
}

@media only screen and (max-width: 1600px) {
    .body {
        width: 100%;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 575px) {
    .card {
        width: 90%;
    }
}

/* Dark Mode */
[data-theme="dark"] .card {
    background-color: #212121 !important;
    border: 1px solid #4b4b4b !important;
}
[data-theme="dark"] .card:hover {
    background-color: #2d2f34 !important;
}
[data-theme="dark"] .card:hover .card-title {
    color: #eee !important;
}
[data-theme="dark"] .video-name {
    color: #ccc !important;
}
[data-theme="dark"] .video-name:hover {
    color: #eee !important;
}
[data-theme="dark"] #back-to-top {
    background-color: #aaa !important;
    color: #000 !important;
}