/*@font-face {
    font-family: HarmonyOS Sans Regular;
    src: url("https://cdn.jsdelivr.net/gh/CYYHH3/CDN2@main/fonts/HarmonyOS Sans/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf");
    font-display: fallback;
}*/

body {
    font-family: 'HarmonyOS Sans Regular', 微软雅黑, sans-serif;
}
.dplayer {
    /*margin: 0px 100px;
    height: 527px;*/
}
.dplayer-danmaku .dplayer-danmaku-right.dplayer-danmaku-move {
    /*-webkit-transform: translate3d(-804px,0px,0px) rotate(0.1deg) !important;*/
}
.dplayer-subtitle p {
    line-height: 10px;
}